@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap');

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: Figtree, sans-serif;
    background: #0F0F0F;
}

* {
    font-family: Figtree, sans-serif;
    font-weight: 400;
}


img {
    object-fit: cover;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

#home__page {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

#home__page span {
    font-size: 52px;
    line-height: 64px;
    font-weight: 600;
    display: block;
    text-align: center;
    width: 100%;
}

#home__page a {
    font-size: 40px;
    line-height: 52px;
    font-weight: 600;
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 16px;
    border: 1px solid #fff;
}


.main__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.main__wrapper .left__sidebar {
    width: 200px;
}

.main__wrapper .right__container {
    width: calc(100% - 200px);
    padding: 16px 0;
}

ul, ol {
    list-style-type: none;
}
