.processStep {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  position: relative;
}

.step {
  display: flex;
  align-items: center;
  position: relative;
}

.circle {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #EFEFEF;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.3s ease;
  }

  &.active {
    border-color: #2E7FF1;
    border-width: 3px;
    padding: 4px;

    &::before {
      width: 70%;
      height: 70%;
      background-color: #2E7FF1;
    }
  }

  &.completed {
    border-color: #2E7FF1;
    border-width: 3px;
    padding: 4px;
    background: #2E7FF1;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      display: none;
    }
  }

}

.line {
  position: absolute;
  width: 1px;
  height: 50px;
  background-color: #D9D9D9;
  left: 16px;
  top: calc(100% - 6px);
  transition: background-color 0.3s ease;


}

.label {
  display: flex;
  flex-direction: column;
  margin-left: 28px;

  span {
    &:first-child {
      color: #7F859F;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }

    &:last-child {
      color: #FFF;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }
  }
}
